<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">APP设置</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/appHeader/lists">APP头部样式管理</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a ui-sref="appHeaderAction({ac: ac})">{{page_title}}APP头部样式</a>
		</li>
	</ul>
</div>
<h3 class="page-title"> {{page_title}}【APP头部样式】<small>{{page_title}}APP头部样式操作</small></h3>
<div class="note note-success">
	<p> With AngularJS you stil can use any jQuery plugin comes with Metronic. The jQuery plugins can be used as a standalone component or integrated with AngularJS by using directives. </p>
	<p> For more info please check this blog
		<a target="_blank" href="https://amitgharat.wordpress.com/2013/02/03/an-approach-to-use-jquery-plugins-with-angularjs/">An approach to use jQuery Plugins with AngularJS</a>
	</p>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="portlet box yellow-crusta">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>{{page_title}}[APP头部样式]操作 </div>
				<div class="tools">
					<a href="javascript:;" class="collapse"> </a>
					<a href="#" data-toggle="modal" class="config"> </a>
					<a href="javascript:;" class="reload"> </a>
					<a href="javascript:;" class="remove"> </a>
				</div>
			</div>
			<div class="portlet-body form">
				<form class="form-horizontal form-bordered" name="theForm" novalidate="novalidate">
					<bs3-input label="头部样式名称" type="text" name="label" ng-model="form.label" invalid="theForm.label.$invalid"></bs3-input>
					<bs3-input label="头部样式唯一英文标识" type="text" name="ckey" ng-model="form.ckey" invalid="theForm.ckey.$invalid"></bs3-input>
					<bs3-input label="头部样式说明" type="text" name="tips" ng-model="form.tips"></bs3-input>
					<bs3-plus-two-input label="头部样式的传递参数" name="params" ng-model="form.params" params="params" tips="头部样式所需要传递的参数"></bs3-plus-two-input>
					<bs3-input label="头部样式的排序序号" type="number" name="sort" ng-model="form.sort"></bs3-input>
					<bs3-submit-button submit="submit()"></bs3-submit-button>
				</form>
			</div>
		</div>
	</div>
</div>