<div class="card">
	<div class="item item-divider">
		<h4>{{title}}</h4>
	</div>
	<div class="item item-text-wrap">
		<form name="theForm" novalidate="novalidate">
			<div class="padding color-a">设置后，其他人将看到你的昵称</div>
			<div class="list">
				<div class="item">
					<label class="item item-input item-icon-right">
						<i class="icon"
						   ng-class="{true: 'ion-close color-assertive', false: 'ion-checkmark color-balanced'}[theForm.nickname.$invalid]"></i>
						<input type="text" name="nickname" ng-model="nickname" placeholder="请填写用户昵称" required>
					</label>
				</div>
			</div>
			<p class="padding color-a">4-20个字，可由中英文、数字组成</p>
			<div class="padding">
				<button type="submit" class="button button-calm button-block" ng-click="submit()" ng-disabled="!theForm.$valid">提交</button>
			</div>
		</form>
	</div>
</div>