<div class="card">
	<div class="item item-divider">
		<h2>{{title}}</h2>
	</div>
	<div class="item item-text-wrap">
		<form name="theForm" novalidate="novalidate">
			<div class="list">
				<div class="item">
					<label class="item-input">
						<input type="password" placeholder=" 原登录密码" name="old_password" ng-model="form.old_password" required>
					</label>
				</div>
				<div class="item">
					<label class="item-input">
						<input type="password" placeholder=" 设定新登录密码" name="new_password" ng-model="form.new_password" required>
					</label>
				</div>
				<div class="item">
					<label class="item-input">
						<input type="password" placeholder=" 重复新登录密码" name="repassword" ng-model="form.repassword" required>
					</label>
				</div>
				<div class="item">
					<label class="item-input">
						<input type="tel" name="mobile" ng-model="form.mobile" placeholder=" 用户注册绑定的手机号码" disabled>
					</label>
				</div>
				<div class="item">
						<label class="item-input w-p6">
							<input type="tel" name="sms_code" ng-model="form.sms_code" ng-pattern="/^\d{6}$/" placeholder="请填写验证码" required>
						</label>
					<div class="w-p4">
						<button class="button button-small button-block button-dark sendSms" ng-click="sendSms()" ng-disabled="theForm.mobile.$invalid">
							获取验证码
						</button>
					</div>
				</div>
			</div>
			<div class="padding">
				<button class="button button-full button-energized" ng-click="submit()" ng-disabled="!theForm.$valid">重置密码</button>
			</div>
		</form>
	</div>
</div>