<div class="card">
	<div class="item item-divider">
		<h2>{{title}}</h2>
	</div>
	<div class="item item-text-wrap">
		<form name="theForm" novalidate="novalidate">
			<div class="padding color-a">用户实名认证信息</div>
			<div class="list">
				<div class="item">
					<label class="item item-input item-icon-right">
						<i class="icon"
						   ng-class="{true: 'ion-close color-assertive', false: 'ion-checkmark color-balanced'}[theForm.realname.$invalid]"></i>
						<input type="text" name="nickname" ng-model="realname.realname" placeholder="请填入身份证姓名" required>
					</label>
				</div>
				<div class="item">
					<label class="item item-input item-icon-right">
						<i class="icon"
						   ng-class="{true: 'ion-close color-assertive', false: 'ion-checkmark color-balanced'}[theForm.idcard.$invalid]"></i>
						<input type="text" name="nickname" ng-model="realname.idcard" placeholder="请填入身份证号码" required>
					</label>
				</div>
			</div>
			<div class="list">
				<h3 class="D-center">上传证件</h3>
				<label class="item item-input">
					<span class="input-label">身份证正面</span>
					<button type="button" class="button button-dark" ng-click="setIdcard1()" ng-show="idcard1=='img/no-astar.jpg'">拍摄身份证正面照片</button>
					<img ng-src="{{idcard1}}" style="width:180px;height: 120px" ng-hide="idcard1=='img/no-astar.jpg'"/>
				</label>
				<label class="item item-input">
					<span class="input-label">身份证背面</span>
					<button type="button" class="button button-dark" ng-click="setIdcard2()" ng-show="idcard2=='img/no-astar.jpg'">拍摄身份证背面照片</button>
					<img ng-src="{{idcard2}}" style="width:180px;height: 120px" ng-hide="idcard2=='img/no-astar.jpg'"/>
				</label>
			</div>
			<div class="padding">
				<button class="button button-full button-energized" type="submit" ng-click="submit()"
				        ng-disabled="!theForm.$valid || idcard1=='img/no-astar.jpg' || idcard2=='img/no-astar.jpg'">进行实名认证</button>
			</div>
		</form>
	</div>
</div>