<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">系统设置</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/appRouter.html">后台菜单管理</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a ui-sref="systemRouterAction({ac: ac})">{{page_title}}路由、菜单项</a>
		</li>
	</ul>
</div>
<h3 class="page-title"> {{page_title}}路由、菜单项
	<small>管理配置后台管理端的路由、Tabs、左边菜单、右边菜单</small>
</h3>
<div class="row">
	<div class="col-md-12">
		<div class="portlet box yellow-crusta">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>{{page_title}}[APP路由、Tabs、菜单]操作 </div>
				<div class="tools">
					<a href="javascript:;" class="collapse"> </a>
					<a href="#" data-toggle="modal" class="config"> </a>
					<a href="javascript:;" class="reload"> </a>
					<a href="javascript:;" class="remove"> </a>
				</div>
			</div>
			<div class="portlet-body form">
				<form class="form-horizontal form-bordered" name="theForm" novalidate="novalidate">
					<bs3-tree-select label="请选择一个上级菜单" name="cid" ng-model="form.cid" category="form.category" nodes="nodes" invalid="theForm.cid.$invalid"></bs3-tree-select>
					<bs3-input label="该路由所指向的页面标题" type="text" name="label" ng-model="form.label" invalid="theForm.label.$invalid"></bs3-input>
					<bs3-input label="该路由的唯一英文标识" type="text" name="ckey" ng-model="form.ckey" change="changes()" invalid="theForm.ckey.$invalid"></bs3-input>
					<bs3-input label="该路由的路由URL" type="text" name="router" ng-model="form.router" invalid="theForm.router.$invalid"></bs3-input>
					<bs3-input label="该路由的视图位置" type="text" name="views" ng-model="form.views" invalid="theForm.views.$invalid"></bs3-input>
					<bs3-input label="该路由所指向的页面标题" type="text" name="tips" ng-model="form.tips"></bs3-input>
					<bs3-iconselect label="该路由的图标" ng-model="form.icon"></bs3-iconselect>
					<bs3-plus-input label="该路由的传递参数" ng-model="form.param"></bs3-plus-input>
					<bs3-input label="该路由的模板地址" type="text" name="template" ng-model="form.template"></bs3-input>
					<bs3-input label="该路由的控制器名称" type="text" name="controller" ng-model="form.controller"></bs3-input>
					<bs3-input label="该路由的控制器地址" type="text" name="controller_url" ng-model="form.controller_url"></bs3-input>
					<bs3-input label="该路由在同级中的排序序号" type="number" name="sort" ng-model="form.sort"></bs3-input>
					<bs3-submit-button invalid="!theForm.$valid" ng-model="form" submit="submit()" ac="'System'" module="'actionRouter'" pk="ac"></bs3-submit-button>
				</form>
			</div>
		</div>
	</div>
</div>